<template>
    <div>
        <!-- Touch device -->
        <ul v-if="isTouchDevice"
            class="nav nav-pills d-flex flex-row justify-content-center mb-1"
            :style="{ 'max-width': (timelineWidth - 30) + 'px' }">

            <li v-for="phase in phases" :key="phase.id"  :data-original-title="phase.durationS + ' seconds <br /> Start: ' + phase.start + '<br /> End: ' + phase.end"
                class="nav-item">
                <a class="nav-link" @click="selectPhase(phase)">
                    {{ getPhaseName(phase) }}
                </a>
            </li>
        </ul>

            <!-- Desktop -->
        <div v-else class="position-relative">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Phase Selector" >
                {{ selectedPhase && !selectedPhase.breakbarPhase ? getPhaseName(selectedPhase) : 'Phase Selector' }}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu p-2 font-weight-normal scrollabledropdown wd-200px">
                <li v-for="(phase, index) in phases" :key="index" @click="selectPhase(phase)"
                    class="phase-selector-item" :class="{ active: selectedPhase === phase }" 
                    :data-original-title="phase.durationS + ' seconds <br /> Start: ' + phase.start + '<br /> End: ' + phase.end">
                    {{ getPhaseName(phase) }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    Vue.component("combat-replay-phase-selector-component", { 
        props: ["phases", "selectedPhase", "timelineWidth"],
        template: `${template}`,
        mixins: [encounterPhaseComponent],
        data() {
            return {
                isTouchDevice: isTouchDevice
            };
        },
        methods: {
            getPhaseName(phase) {
                return phase === this.encounterPhase ? phase.nameNoMode : phase.name;
            },
            selectPhase(phase) {
                this.$emit("phase-selected", phase);
            }
        }
    });
</script>
