<template>
    <div class="d-flex flex-row">
        <img class="icon mr-1" :src="UIIcons.QuestionMark" :data-original-title="scoreExpl" />
        <div class="d-flex flex-column" style="max-width: 900px;">
            <div v-for="group in groups" class="d-flex flex-wrap mb-1">
                <div v-for="player in group"
                    class="player-cell d-flex flex-column align-items-center justify-content-center"
                    :class="{active: player.active}" @click="select(player.id)">
                    <div>
                        <div class="icon-display-20"
                            :data-original-title="player.profession"
                            :style="getProfessionIcon(player.profession, 20)"
                            :aria-label="player.profession"
                            role="img">
                        </div>
                        <img v-if="player.health > 0" :src="UIIcons.VitalityChar"
                            alt="Health" class="icon" :data-original-title="'Health: ' + player.health">
                        <img v-if="player.condi > 0" :src="UIIcons.ConditionDamageChar"
                            alt="Condition Damage" class="icon"
                            :data-original-title="scoreV2 ? 'Condition Damage' : 'Condition Damage: ' + player.condi">
                        <img v-if="player.conc > 0" :src="UIIcons.BoonDurationChar"
                            alt="Concentration" class="icon" :data-original-title="scoreV2 ? 'Concentration' : 'Concentration: ' + player.conc">
                        <img v-if="player.heal > 0" :src="UIIcons.HealingPowerChar"
                            alt="Healing Power" class="icon" :data-original-title="scoreV2 ? 'Healing Power' : 'Healing Power: ' + player.heal">
                        <img v-if="player.tough > 0" :src="UIIcons.ToughnessChar"
                            alt="Toughness" class="icon" :data-original-title="scoreV2 ? 'Toughness' : 'Toughness: ' + player.tough">
                    </div>
                    <div v-if="player.l1Set.length > 0 || player.l2Set.length > 0">
                        <img v-for="wep in player.l1Set" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                        <span v-if="player.l1Set.length > 0 && player.l2Set.length > 0">/</span>
                        <img v-for="wep in player.l2Set" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                    </div>
                    <div v-if="player.a1Set.length > 0 || player.a2Set.length > 0">
                        <img v-for="wep in player.a1Set" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                        <span v-if="player.a1Set.length > 0 && player.a2Set.length > 0">/</span>
                        <img v-for="wep in player.a2Set" :src="getIcon(wep)" :data-original-title="wep" class="icon">
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <img v-if="runningExtensions && runningExtensions[player.id]"
                            :src="UIIcons.GreenFlag" alt="Extensions"
                            class="icon" :data-original-title="computeExtensionTooltip(runningExtensions[player.id])">
                        <img v-if="player.isCommander"
                            :src="UIIcons.Commander" alt="Commander"
                            class="icon" :data-original-title="getCommanderTooltip(player)">
                        <span class="player-cell-shorten" :data-original-title="player.name + ' - ' + player.acc">
                            {{ player.name }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    Vue.component("player-component", {
        props: ["players"],
        template: `${template}`,
        methods: {
            getIcon: function (path) {
                return WeaponIcons[path];
            },
            select: function (id) {
                for (var i = 0; i < this.players.length; i++) {
                    this.players[i].active = false;
                }
                this.players[id].active = true;
            },
            getCommanderTooltip: function(player) {
                if (!player.isCommander) {
                    return false;
                }
                let res = 'Commander';
                for (let i = 0; i < player.commanderStates.length; i++) {
                    res = `
                        ${res}<br>
                        From ${player.commanderStates[i][0]} to ${player.commanderStates[i][1]}
                    `;
                }
                return res;
            },
            computeExtensionTooltip: function(data) {
                var str = "Player is running: <br>";
                for (var i = 0; i < data.length; i++) {
                    str += "- " + data[i] + " Extension";
                    if (i !== data.length - 1) {
                        str += "<br>";
                    }
                }
                return str;
            },
            getProfessionIcon: function (profession, size) {
                // `-X -Y`
                switch (profession) {
                    // Guardian
                    case "Guardian": return { backgroundPosition: size == 20 ? `-0px -0px` : `-0px -0px` };
                    case "Dragonhunter": return { backgroundPosition: size == 20 ? `-0px -21px` : `-0px -201px` };
                    case "Firebrand": return { backgroundPosition: size == 20 ? `-0px -41px` : `-0px -401px` };
                    case "Willbender": return { backgroundPosition: size == 20 ? `-0px -61px` : `-0px -601px` };
                    // Revenant
                    case "Revenant": return { backgroundPosition: size == 20 ? `-21px -0px` : `-201px -0px` };
                    case "Herald": return { backgroundPosition: size == 20 ? `-21px -21px` : `-201px -201px` };
                    case "Renegade": return { backgroundPosition: size == 20 ? `-21px -41px` : `-201px -401px` };
                    case "Vindicator": return { backgroundPosition: size == 20 ? `-21px -61px` : `-201px -601px` };
                    // Warrior
                    case "Warrior": return { backgroundPosition: size == 20 ? `-41px -0px` : `-401px -0px` };
                    case "Berserker": return { backgroundPosition: size == 20 ? `-41px -21px` : `-401px -201px` };
                    case "Spellbreaker": return { backgroundPosition: size == 20 ? `-41px -41px` : `-401px -401px` };
                    case "Bladesworn": return { backgroundPosition: size == 20 ? `-41px -61px` : `-401px -601px` };
                    // Engineer
                    case "Engineer": return { backgroundPosition: size == 20 ? `-61px -0px` : `-601px -0px` };
                    case "Scrapper": return { backgroundPosition: size == 20 ? `-61px -21px` : `-601px -201px` };
                    case "Holosmith": return { backgroundPosition: size == 20 ? `-61px -41px` : `-601px -401px` };
                    case "Mechanist": return { backgroundPosition: size == 20 ? `-61px -61px` : `-601px -601px` };
                    // Ranger
                    case "Ranger": return { backgroundPosition: size == 20 ? `-81px -0px` : `-801px -0px` };
                    case "Druid": return { backgroundPosition: size == 20 ? `-81px -21px` : `-801px -201px` };
                    case "Soulbeast": return { backgroundPosition: size == 20 ? `-81px -41px` : `-801px -401px` };
                    case "Untamed": return { backgroundPosition: size == 20 ? `-81px -61px` : `-801px -601px` };
                    // Thief
                    case "Thief": return { backgroundPosition: size == 20 ? `-101px -0px` : `-1001px -0px` };
                    case "Daredevil": return { backgroundPosition: size == 20 ? `-101px -21px` : `-1001px -201px` };
                    case "Deadeye": return { backgroundPosition: size == 20 ? `-101px -41px` : `-1001px -401px` };
                    case "Specter": return { backgroundPosition: size == 20 ? `-101px -61px` : `-1001px -601px` };
                    // Elementalist
                    case "Elementalist": return { backgroundPosition: size == 20 ? `-121px -0px` : `-1201px -0px` };
                    case "Tempest": return { backgroundPosition: size == 20 ? `-121px -21px` : `-1201px -201px` };
                    case "Weaver": return { backgroundPosition: size == 20 ? `-121px -41px` : `-1201px -401px` };
                    case "Catalyst": return { backgroundPosition: size == 20 ? `-121px -61px` : `-1201px -601px` };
                    // Mesmer
                    case "Mesmer": return { backgroundPosition: size == 20 ? `-141px -0px` : `-1401px -0px` };
                    case "Chronomancer": return { backgroundPosition: size == 20 ? `-141px -21px` : `-1401px -201px` };
                    case "Mirage": return { backgroundPosition: size == 20 ? `-141px -41px` : `-1401px -401px` };
                    case "Virtuoso": return { backgroundPosition: size == 20 ? `-141px -61px` : `-1401px -601px` };
                    // Necromancer
                    case "Necromancer": return { backgroundPosition: size == 20 ? `-161px -0px` : `-1601px -0px` };
                    case "Reaper": return { backgroundPosition: size == 20 ? `-161px -21px` : `-1601px -201px` };
                    case "Scourge": return { backgroundPosition: size == 20 ? `-161px -41px` : `-1601px -401px` };
                    case "Harbinger": return { backgroundPosition: size == 20 ? `-161px -61px` : `-1601px -601px` };
                    default:
                        return;
                }
            },
        },
        computed: {
            scoreV2: function() {
                return logData.evtcBuild > 20210800;
            },
            scoreExpl: function () {
                if (this.scoreV2) {
                    return `
                        <span style='text-align:left;display: block;'>
                        A player has a stat score if they are above 60% of the maximum stat present in the squad. For example if the maximum healing power stat inside the squad is 1000, anybody with a healing power stat above 600 will be flagged as with healing power. 
                        </span>
                    `;
                }
                return `
                <span style='text-align:left;display: block;'>
                Scores are relative to the squad. 10 means that that player had the highest stat in the squad. 8 means that that player had between 80% and 89% of the highest scored player's stat.
                </span>
                `
            },
            groups: function () {
                var aux = [];
                for (var i = 0; i < logData.players.length; i++) {
                    var playerData = logData.players[i];
                    if (playerData.isFake) {
                        continue;
                    }
                    if (!aux[playerData.group]) {
                        aux[playerData.group] = [];
                    }
                    var toPush = {};
                    Object.assign(toPush, playerData);
                    toPush.active = this.players[i].active;
                    aux[playerData.group].push(toPush);
                }

                var noUndefinedGroups = [];
                for (var i = 0; i < aux.length; i++) {
                    if (aux[i]) {
                        noUndefinedGroups.push(aux[i]);
                    }
                }
                return noUndefinedGroups;
            },
            runningExtensions: function () {
                if (logData.usedExtensions) {
                    var res = [];
                    for (var i = 0; i < logData.players.length; i++) {
                        var playerData = logData.players[i];
                        var subRes = [];
                        for (var j = 0; j < logData.usedExtensions.length; j++) {
                            var usedExtension = logData.usedExtensions[j];
                            var playersRunning = logData.playersRunningExtensions[j];
                            if (playersRunning.includes(playerData.name)) {
                                subRes.push(usedExtension.split(" - ")[0]);
                            }
                        }
                        if (subRes.length > 0) {
                            res.push(subRes);
                        } else {
                            res.push(null);
                        }
                    }
                    return res;
                } else {
                    return null;
                }
            },
            UIIcons: function() {
                return UIIcons;
            }
        }
    });
</script>